@layer animation {
  @media not (prefers-reduced-motion) {
    @view-transition {
      navigation: auto;
    }
  }
}

@layer variables {
  :root {
    --color-text-primary: #2d2c28;
    --color-text-secondary: #575653;
    --color-background-website: #fff;
    --color-background-highlight: #f7f7f6;
    --color-background-hover: #eee;

    --font-family-body: "Lato", sans-serif;

    --font-size-h1: clamp(24px, 3.90625vw, 40px);
    --font-size-h2: clamp(20px, 3.125vw, 32px);
    --font-size-h3: clamp(18px, 2.34375vw, 24px);
    --font-size-body: 16px;
    --font-size-small: 14px;

    --font-weight-xbold: 900;
    --font-weight-bold: 600;
    --font-weight-normal: 400;

    --line-height-heading: 1.25;
    --line-height-body: 1.5;
    --line-height-small: 1.25;
  }
}

@layer reset {
  body {
    margin: 0;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 0;
  }

  p {
    margin-block: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  blockquote {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  img {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
  }

  svg {
    clip-rule: evenodd;
    display: block;
    fill: currentColor;
    fill-rule: evenodd;
  }
}

@layer typography {
  body {
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-xbold);
    letter-spacing: -1%;
  }

  h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
  }

  h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
  }

  h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-heading);
  }

  blockquote {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
  }

  strong {
    font-weight: var(--font-weight-bold);
  }

  figcaption {
    color: var(--color-text-secondary);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    text-align: center;
  }

  .article a {
    color: var(--color-text-secondary);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
  }
}

@layer grid {
  .grid {
    display: grid;
    grid-template-columns: 0px 1fr 0px;
    margin-inline: auto;
    max-inline-size: 1024px;
    padding-block: 24px 48px;
    gap: 48px 24px;

    @media (400px <= width) {
      padding-block: 32px 64px;
      gap: 64px 32px;
    }

    @media (768px <= width) {
      grid-template-columns: repeat(6, 1fr);
      padding: 80px 80px 160px 80px;
      gap: 120px 40px;
    }
  }

  :is(.article, .section, .footer) {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  .nav {
    align-items: center;
    display: flex;
    grid-column: 2 / -2;
    justify-content: space-between;

    @media (768px <= width) {
      grid-column: 1 / -1;
    }
  }

  .article {
    row-gap: 24px;

    @media (400px <= width) {
      row-gap: 32px;
    }

    @media (768px <= width) {
      row-gap: 80px;
    }
  }

  .section {
    row-gap: 24px;

    @media (400px <= width) {
      row-gap: 32px;
    }

    @media (768px <= width) {
      row-gap: 60px;
    }

    &:is(.highlight) {
      background-color: var(--color-background-highlight);
      padding-block: 24px;

      @media (400px <= width) {
        padding-block: 32px;
      }

      @media (768px <= width) {
        padding-block: 80px;
      }
    }
  }

  .gallery {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    gap: 24px;

    @media (400px <= width) {
      gap: 32px;
    }

    @media (768px <= width) {
      row-gap: 40px;
    }
  }

  .text {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 2 / -2;

    @media (400px <= width) {
      gap: 16px;
    }

    @media (768px <= width) {
      gap: 24px;
    }

    &:is(.center) {
      align-items: center;
      text-align: center;
    }
  }

  .figure {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: span 3;

    &:only-child {
      @media (768px <= width) {
        grid-column: span 6;
      }
    }
  }
}

@layer components {
  @layer button {
    .button {
      border-radius: 5px;
      color: var(--color-text-secondary);
      display: flex;
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-bold);
      gap: 4px;
      padding: 8px 12px;
      text-decoration: none;
      transition-property: box-shadow, color;
      transition-duration: 300ms;
      transition-timing-function: ease;

      &:is(:hover, [aria-current]) {
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
          0 2px 4px rgba(0, 0, 0, 0.04);
        color: var(--color-text-primary);
      }
    }
  }
  @layer flex {
    .flex {
      display: flex;

      &:is(.column) {
        flex-direction: column;
      }

      &:is(.gap-8) {
        gap: 8px;
      }

      &:is(.gap-24) {
        gap: 24px;
      }
    }
  }
  @layer project {
    .project {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 3;
      row-gap: 16px;
      text-decoration: none;
      transition: opacity 300ms ease;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 1;
      }
    }

    .project-image {
      grid-column: 1 / -1;
    }

    .project-details {
      grid-column: 2 / -2;

      @media (768px <= width) {
        grid-column: 1 / -1;
      }
    }

    .project-title {
      font-weight: var(--font-weight-bold);
    }

    .project-description {
      color: var(--color-text-secondary);
      font-size: var(--font-size-small);
    }
  }
}
